body {

    display: flex;
   margin: 0px;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    
}

button {
    margin: 6px;
    background: none;
    background-color: cornflowerblue;
    color: blanchedalmond;
    border: 2px solid cornflowerblue;
    border-radius: 7%;
    padding: 0.5em 1em;
    transition: all 0.25s;
    
}

button:hover{
    border-color: purple;
    box-shadow: 0 0.5em 0.5em -0.4em purple;;
    transform: translateY(-0.25em);
    
}
.text {
max-width: 500px;
max-height: 500px;
margin-bottom: 10px;
}


.head-text-2{
    font-size: 48px;
    margin-bottom: 10px;
}
.welcome {
   
    margin: 4px 4px 4px 40px ;
    padding: 4px;
    color: blanchedalmond;
}

.top #logo {
    display: flex;
    
    width: 100px;
    height: auto;
    zoom: 150%;
    padding: 4px;
    margin: 4px 4px 4px 30px ;
    flex-shrink: 0;
    flex-grow: 0;
}

html {
    background-color:#f498b8 ;
}


.random {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.images {
    justify-content: center;
}

.quote {
    display: flex;
}

.bottom {
    display: flex;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}

#head-text {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-family: 'Dancing Script', cursive;
    color: blanchedalmond;
    font-size: 50px;
    padding: 8px;
    margin: 4px 4px 4px 100px ;
}



#placeholder{
    display: flex;
   
    max-width: 600px;
    max-height: 300px;
    zoom: 100%;
    border-radius: 2%;
    margin-left: 30px;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    
}

ul {
    list-style: none;
}

a {
    margin: 20px;
    color: blanchedalmond
}

#logo {
    margin: 8px ;
}

.awesome {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
