body {

    display: flex;
   margin: 0px;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    
}

.top #logo {
    display: flex;
    width: 100px;
    height: auto;
    zoom: 150%;
    padding: 4px;
    margin: 4px 4px 4px 8px ;
    flex-shrink: 0;
    flex-grow: 0;
}

html {
    background-color:#f498b8 ;
}


.random {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.images {
    justify-content: center;
}

.quote {
    display: flex;
}

.bottom {
    display: flex;
}
.top,
.welcome {
    /*background-color: #1f2937; */
    
}
.top {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    
}

#head-text {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-family: 'Dancing Script', cursive;
    color: blanchedalmond;
    font-size: 50px;
    padding: 8px;
    margin: 4px 4px 4px 100px ;
}

div {
    display: flex;
}

img {

   
}


.links {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    
}

ul {
    list-style: none;
}

a {
    margin: 8px;
    color: blanchedalmond;
}

#logo {
    margin: 8px ;
}

.awesome {
    display: flex;
}
